.sidebar {
  background-color: #A8715C ;

}
.title h2{
  color:#fff ;
}
.custom-navbar {
  display: flex;
  justify-content: center; /* căn giữa các thành phần */
  align-items: center; /* căn giữa theo chiều dọc */
  margin: 0 auto;
}

.custom-brand {
  font-size: 24px; /* tăng kích thước font chữ */
}

.custom-navbar {
  background-color: #A8715C;
  color: #ecf0f1;
}

.custom-navbar .nav-link {
  color: #ecf0f1;
}

.custom-brand {
  color: #ecf0f1;
}

.filter-section {
  margin-top: 20px;
}
.filter-section {
  margin-top: 20px;
}
.form-check {
  color: rgba(51, 51, 51, 1);
}
.filter-section button:hover {
  color: rgb(248, 245, 245);
  background-color: #A8715C;
  /* background-color: #fff; */
}
.filter-section button:onclick {
  color: rgb(248, 245, 245);
  background-color: #A8715C;
  /* background-color: #fff; */
}

.filter-section h5 {
  margin-bottom: 10px;
}

.checkbox-label {
  font-weight: normal;
  color: rgba(51, 51, 51, 1)
}

.checkbox-input {
  margin-right: 5px;
}

.title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
}
.btn-outline-primary {
  color: #8B4513; 
  border-color: #8B4513; 
 
}
.btn-outline-primary:hover {
  color: #fff; 
  background-color: #8B4513; 
  border-color: #8B4513; 
}

.selected {
  /* background-color: #FFFFFF; */
  background-color: #A8715C;
  color: #A8715C;
}
.edit-btn{
  margin: 10px;
}
.add-btn{
  margin: 10px;
}
.btn-outline-primary {
  /* color: #A8715C;
  border-color: #A8715C; */
  color: #ffffff;
  border-color: #8B4513;
  background-color: #8B4513;
  margin: 5px; 
  border-radius: 20px; 
  padding: 10px 20px; 
  font-size: 16px; 
  transition: all 0.3s ease; 
}

.btn-outline-primary:hover {
  background-color: #A8715C;
  /* background-color: #F6F5F5; */
  /* color: #fff; */
}

.container {
  margin-top: 50px; 
}

