.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: fixed;
}

.toggle-badge {
    cursor: pointer;
}

.table th,
.table td {
    vertical-align: middle;
}